<!DOCTYPE html>
<html>
<head>
    <title>Hair Salon</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <link rel='stylesheet' href='/app.css'>

</head>
<body>


<nav class="navbar navbar-expand-lg " style="background: #2d3246;">
    <a class="navbar-brand" href="#">YA7SKA'S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stylists">Stylists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container">
    <div class="jumbotron">
        <h1>Ya7ska Hair Salon Manager</h1>
<!--        <div class="row">-->
<!--            <div class="col-md-3" id="menu">-->
<!--                <br> <br>-->
<!--                <a href="/"><button type="button" class="btn btn-primary btn-block">HOME</button></a><br>-->
<!--                <hr>-->
<!--                <a href="/stylists"><button type="button" class="btn btn-success btn-block">STYLISTS</button></a><br>-->
<!--                <hr>-->
<!--                <a href="/clients"><button type="button" class="btn btn-info btn-block">CLIENTS</button></a><br>-->
<!--                <hr>-->
<!--                <a href="/about"><button type="button" class="btn btn-warning btn-block">ABOUT US</button></a><br>-->
<!--                <hr>-->

<!--            </div>-->
<!--            <div class="col-md-9" id="main">-->

<!--            </div>-->
<!--        </div>-->
    </div>
    <div>
        #parse( $template )
    </div>
</div>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>We are an award-winning Hair Salon, dedicated to providing the most quality services.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Ya7ska</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>Ngong Lane Plaza Ngong Road, Nairobi, Kenya</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">ya7skas@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">+254720555665</a> <span>or</span> <a href="tel:#">+254722126748</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="/stylists">Stylists</a></li>
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
</footer>

</body>
</html>