<h1>All Stylists</h1>

        #foreach ($stylist in $stylists)
        Id: $stylist.getId()
        Name: $stylist.getName()
        Gender : $stylist.getGender()
        Contact: $stylist.getContact()
<br>
<a href="/stylists/$stylist.getId()">View Clients</a>
</br>

        #end

<a href="/stylists/new">Add New Stylist</a>